<div id="search-component">
    <h4>Hero Search</h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let new of news$ | async" >
        <a routerLink="/new/{{new.id}}">
          {{new.title}}
        </a>
      </li>
    </ul>
  </div>
  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->